<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<add key="servidor" value="carlos-lap\sqlexpress" ></add>
		<add key="usuario" value="sa"></add>
		<add key="clave" value="supervisor"></add>
		<add key="bases" value="codisel|ctHotel"></add>
		<add key="ruta" value="c:\compac\"></add>
		<add key="hora" value="16:17"></add>
		<add key="apagar" value="0"></add>
		
		<add key ="nube" value="1"></add> 
		<add key ="servidorFTP" value="serverceyka.ddns.net"></add>
		
		<add key ="rutaADD" value="c:\compac\Index"></add>
		
	</appSettings>
</configuration>